<template>
    <div>
        <div class="text">Zatoka</div>
        <div class="text2">Затока</div>
        <div class="cont"></div>
    </div>
</template>

<script>
    import Weather from "../../components/public/Weather";
    export default {
        name: "Home",
        components: {
            Weather
        }
    }
</script>

<style lang="scss" scoped>
    .cont {
        height: 100vh;
    }
    .text{
        font-size: 15px;
        font-family: "Josefin Sans", sans-serif;
    }
    .text2{
        font-size: 12px;
        font-family: ForwardAd, sans-serif;
        letter-spacing: 1.5px;
        -webkit-text-stroke-width: 0.3px;
    }
</style>
