// Reset
@import 'reset';

// Fonts
@import '../../public/fonts/Josefin/index.css';
@import '../../public/fonts/Raleway/index.css';
@import '../../public/fonts/Cormorant/index.css';
@import '../../public/fonts/ForwardAd/index.css';

// Variables
@import 'variables';

html, body {
    height: 100%;
}

body {
    font-family: "ForwardAd", sans-serif;
}

a, p {
    color: black;
}

a, .link{
    text-decoration: none;
    transition: color .25s ease-out;
    cursor: pointer;

    &:hover {
        color: $brown;
    }
}

.active a {
    color: $brown;
}

//.fade-active,  .fade-leave-active{
//    transition: all .3s;
//}
//
//.fade-enter,  .fade-leave-to{
//    opacity: 0;
//}


.test-enter, .test-leave-to {
    transform: scaleY(0);
}

