<template>
   <component :is="layout">
       <router-view />
   </component>
</template>

<script>
    import AdminLayout  from '../layouts/AdminLayout';
    import PublicLayout from '../layouts/PublicLayout';

    export default {
        computed: {
            layout() {
                return (this.$route.meta.layout || 'public') + '-layout'
            }
        },
        components: {
            AdminLayout,
            PublicLayout
        }
    }
</script>

<style lang="scss" scoped>

</style>
