@font-face {
    font-family: 'ForwardAd';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('ForwardAd-light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('ForwardAd-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
