<template>
    <footer>
        footer11
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style lang="scss" scoped>
    footer {
        outline: 1px solid blue;
        height: 150px;
    }
</style>
