<template>
    <div class="header-body">

        <weather class="header-body__weather"/>

        <navbar />

        <div class="header-body__phone">
            +3 (012) 345 67 89
        </div>
    </div>
</template>

<script>
    import Weather from "../public/Weather"
    import Navbar  from '../public/Navbar'

    export default {
        name: "Header",
        components: {
            Navbar,
            Weather
        }
    }
</script>

<style lang="scss" scoped>

    .header-body {
        display: grid;
        grid-auto-flow: column;
        padding: 0 40px;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid black;

        &__phone {
            font-size: 12px;
            letter-spacing: 1.5px;
            -webkit-text-stroke-width: 0.3px;
            text-align: end;
            align-self: center;
        }
    }

    @media only screen and (max-width: 1200px) {
        .header-body {
            padding: 0 10px;
        }
    }

    @media only screen and (max-width: 950px) {
        .header-body {
            padding: 0 20px;
            grid-template-columns: 1fr;

            &__weather, &__phone {
                display: none;
            }
        }
    }
</style>
