<template>
    <div class="navbar-body">

        <transition name="test">
            <ul v-if="isShowList()" class="navbar-body__list">
                <router-link tag="li" active-class="active" to="/" exact class="navbar-body__item list-item">
                    <a class="list-item__link" href="#">Главная</a>
                </router-link>

                <li class="navbar-body__item list-item"
                    @mouseover="isDropdownNumbersOpen = true"
                    @mouseleave="isDropdownNumbersOpen = false"
                >
                    <span class="list-item__link link">Номера</span>
                    <transition name="test">
                        <dropdown :show="isDropdownNumbersOpen" :items="numbers" class="numbers__dropdown" />
                    </transition>
                </li>

                <li class="navbar-body__item list-item"
                    @mouseover="isDropdownInfoOpen = true"
                    @mouseleave="isDropdownInfoOpen = false"
                >
                    <span class="list-item__link link">Инфо</span>
                    <transition name="test">
                        <dropdown :show="isDropdownInfoOpen" :items="info" class="info__dropdown" />
                    </transition>
                </li>

                <li class="navbar-body__item list-item logo-full">
                    <logo :letter="true" :text="true" />
                </li>

                <router-link tag="li" active-class="active" to="/gallery" class="navbar-body__item list-item">
                    <a class="list-item__link" href="#">Галерея</a>
                </router-link>

                <router-link tag="li" active-class="active" to="/contacts" class="navbar-body__item list-item">
                    <a class="list-item__link" href="#">Контакты</a>
                </router-link>

                <router-link tag="li" active-class="active" to="/blog" class="navbar-body__item list-item">
                    <a class="list-item__link" href="#">Блог</a>
                </router-link>
            </ul>
        </transition>

        <logo class="navbar-body__logo-mobile" :text="true" />

        <div class="navbar-body__burger-menu burger-menu" @click="toggleBurger" :class="{ open: isBurgerOpen }">
            <div class="burger-menu__item"></div>
        </div>

    </div>
</template>

<script>
    import Logo     from '../common/Logo'
    import Dropdown from '../common/Dropdown'

    export default {
        name: "Navbar",
        components: {
            Logo,
            Dropdown
        },
        data() {
            return {
                window: {
                    width: 0
                },
                numbers: [
                    { id: 1, title: 'номер 1', url: '/num1' },
                    { id: 2, title: 'номер 2', url: '/num2' },
                    { id: 3, title: 'номер 3', url: '/num3' },
                    { id: 4, title: 'номер 4', url: '/num4' },
                    { id: 5, title: 'номер 5', url: '/num5' }
                ],
                info: [
                    { id: 1, title: 'страница 1', url: '/info1' },
                    { id: 2, title: 'страница 2', url: '/info2' }
                ],
                isBurgerOpen: false,

                isDropdownNumbersOpen: false,
                isDropdownInfoOpen: false
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            handleResize() {
                this.window.width = window.innerWidth;
            },

            toggleBurger() {
                this.isBurgerOpen = !this.isBurgerOpen;
            },
            isShowList() {
                return this.window.width <= 950 ? this.isBurgerOpen : true
            },
        }
    }
</script>

<style lang="scss" scoped>

    .navbar-body {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        z-index: 2;

        &__list {
            display: grid;
            grid-auto-flow: column;


            .list-item {
                outline: 1px solid pink;
                text-transform: uppercase;
                margin: 0 20px;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: .25em;
                font-family: Raleway, sans-serif;

                &__link {
                    outline: 1px solid khaki;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }

            .logo-full {
                align-self: center;
            }

            .numbers__dropdown,
            .info__dropdown {
                position: absolute;
                margin-left: -30px;
                transition: all .3s;
            }
        }

        &__logo-mobile {
            display: none;
        }

        .burger-menu {
            display: none;
        }
    }

    @media only screen and (max-width: 1200px) {
        .navbar-body__logo,
        .navbar-body__list .list-item {
            margin: 0 10px;
        }
    }

    @media only screen and (max-width: 950px) {
        .navbar-body {
            justify-content: space-between;

            .burger-menu {
                display: grid;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &__item,
                &__item::before,
                &__item::after {
                    width: 35px;
                    height: 1px;
                    background-color: black;
                    transition: all .3s ease-in-out;
                }

                &__item::before,
                &__item::after {
                    content: '';
                    position: absolute;
                }

                &__item::before {
                    transform: translateY(-10px);
                }

                &__item::after {
                    transform: translateY(10px);
                }

                /* Animation */
                &.open .burger-menu__item {
                    transform: translateX(-50px);
                    background-color: transparent;
                    box-shadow: none;
                }

                &.open .burger-menu__item::before {
                    transform: rotate(45deg) translate(35px, -35px);
                }

                &.open .burger-menu__item::after {
                    transform: rotate(-45deg) translate(35px, 35px);
                }
            }

            &__list {
                position: absolute;
                top: 70px;
                left: 0;
                grid-auto-flow: row;
                background-color: #faf9f5;
                width: 100%;
                padding: 20px 0;

                transform-origin: top;
                transition: transform .15s ease-in-out;
                overflow: hidden;

                .list-item {
                    margin: 10px 40px;
                }

                .logo-full {
                    display: none;
                }
            }

            &__logo-mobile {
                display: block;
                align-self: center;
            }
        }
    }
</style>
