<template>
    <div class="weather">
        <span class="weather__title">Затока</span>
        <img :src="'../storage/images/icons/sun.svg'">
        <span class="weather__temperature">33°C</span>
    </div>
</template>

<script>
    export default {
        name: "Weather"
    }
</script>

<style lang="scss" scoped>
    .weather {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        font-size: 12px;
        letter-spacing: 1.5px;
        -webkit-text-stroke-width: 0.3px;

        &__title{
            margin-right: 15px;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        &__temperature{
            font-weight: 600;
        }
    }
</style>
