<template>
    <ul v-if="show">
        <router-link v-for="item in items" :key="item.id" tag="li" active-class="active" :to="item.url" exact>
            <a href="#">{{ item.title }}</a>
        </router-link>
    </ul>
</template>

<script>
    export default {
        name: "Dropdown",
        props: {
            items: {
                type: Array,
                required: true
            },
            show: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    ul {
        background-color: #faf9f5;
        padding: 10px 30px;
        font-size: 10px;

        li {
            margin: 20px 0;
        }
    }
</style>
