<template>
    <div class="logo">
        <img v-if="text" :src="'../storage/images/logo/logo-text.svg'" alt="logo" class="logo__text">
        <img v-if="letter" :src="'../storage/images/logo/logo-letter.svg'" alt="logo" class="logo__letter">
    </div>
</template>

<script>
    export default {
        name: "Logo",
        props: {
            text: {
                type: Boolean,
            },
            letter: {
                type: Boolean,
            }
        }
    }
</script>

<style lang="scss" scoped>
    .logo {
        display: flex;
        align-items: center;

        &__text {
            width: 110px;
            position: absolute;
        }

        &__letter {
            width: 110px;
            height: 80px;
            opacity: .1;
        }
    }

    @media only screen and (max-width: 950px) {
        .logo {
            &__text {
                position: unset;
                width: 100px;
            }
            &__letter {
                display: none;
            }
        }
    }
</style>
