<template>
    <div class="main">
        <header-component class="main__header" />
        <router-view class="main__content" />
        <footer-component class="main__footer" />
    </div>
</template>

<script>
    import HeaderComponent from '../components/public/Header';
    import FooterComponent from '../components/public/Footer';

    export default {
        name: "Public",
        components: {
            HeaderComponent,
            FooterComponent
        }
    }
</script>

<style lang="scss" scoped>
    .main {
        display: grid;
        height: 100%;
        grid-template-areas: 'header' 'content' 'footer';
        grid-template-rows: 110px 1fr 150px;

        &__header {
            grid-area: header;
        }

        &__content {
            grid-area: content;
        }

        &__footer-component{
            grid-area: footer;
        }
    }

    @media only screen and (max-width: 950px) {
        .main {
            grid-template-rows: 70px 1fr 150px;
        }
    }
</style>
